* {
  margin: 5px;
  padding: 0;
}
body {

  background: #2c3e50;
  color: #bdc3c7;
}

header {
  margin: 30px;
  font-size: 10px;
  font-family: 'Archivo Black', sans-serif;
  text-align: left;
}

.border {
  background-color: white;
  height: 10px;
  width: 100px;
}

.image {
  float: left;
}
